export("polar_clock")
export("joy_division")
export("hyperparaboloid_grid")
export("calendar")
export("ascension_of_gauss")


import(ggplot2)
import(purrr)
import(magrittr)
import(dplyr)
import(broom)
import(reshape2)
import(data.table)
import(lubridate)
import(pdftools)
